html, body {
  height:100%;
  width:100%;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  color: $colorText;
  background-image: $backgroundImage;
  background-repeat: repeat;
}

.header{
  height:20%;
  width:100%;
}

.sticky{
  height: 55%;
  width: 30%;
  margin: auto;
  background: $colorSticky;
  box-shadow: $shadow;
  font-size: 2.1vw;
  font-weight: bolder;
}

.content{
  height:78%;
  width:100%;
}

.todoForm {
  height: 90%;
}

.todo{
  height: 100%;
}

.todoList{
  height:58%;
  width:100%;
  margin-top: 1%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#createNew{
  height: 57%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.first{
  height:21%;
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.filter, #back {
  height:21%;
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Small screens */

@media all and (max-width: 700px) {
  .filter, .first {
    width: 100% !important;
    flex-flow: row wrap;
  }
  .sticky{
    width: 50%;
    height: 30%;
    font-size: 14px;
  }
  .postIt {
    width: 100% !important;
    height: 90% !important;
  }
  .button {
    font-size: 16px !important;
    width: 40% !important;
  }


  //Hier schriftgrössen neu setzten
}

.postIt {
  background: $colorSticky;
  box-shadow: $shadow;
  padding: 3%;
  margin: 2%;
  font-size: 120%;
  height: 80%;
  width: 35%;
  position:relative;
}

.date {
  height: 10%;
  display: flex;
  float:right;
}

.dateimportance > .date {
  height: 80%;
  display: flex;
  float:right;
}

.dateimportance > .importance {
  height: 80%;
  display: flex;
}

.importance{
  height: 10%;
  display: flex;
}

.dateimportance {
  height: 20%;
  width: 100%;
}

.edit {
  height: 10%;
  position: absolute;
  bottom: 11%;
  left: 11%
}

.done {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/pictures/done.svg");
  background-repeat: no-repeat;
  background-size: 25vmax;
}

.title {
  margin: 1%;
  height: 30%;
  font-size: 32px;
}

.description {
  margin: 1%;
  height: 30%;
  font-size: 20px;
}

.description, .title {
  //word-wrap:break-word;
}

.material-icons {
  font-size: $iconSize !important;
  color: $colorText;
}

input[type=text] {
  height: 35%;
  width: 100%;
  padding: 2% 5%;
  margin: 1%;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

input {
  font-family: 'Indie Flower', cursive;
  font-size: 100%;
}


#submitButton{
  height: 10%;
  position: absolute;
  bottom: 11%;
  right:  11%;
  border: none;
  background: none;
}

#back {
  height: 17%;
  width: 100%;
}

.button{
  height: 16%;
  width: 12%;
  text-align: center;
  font-size: 1.6vw;
  font-weight: bolder;
  padding: 1.7% 1.7%;
  margin: 2%;
  text-decoration: none;
  color: black;
  background: url("/pictures/paper.jpg");
  background-size: cover;
  border: none;
  box-shadow: $shadow;
}

.noNote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}


