$color-ascent: LightSkyBlue;
$color-in-ascent: White;
$colorBackground: #999;
$colorText: dimgray;
$shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
$iconSize: 40px;

html, body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  color: $colorText;
  background-image: url("/pictures/cork.jpg");
  background-repeat: repeat;
}

.header{
  display: table;
  margin: 50px auto;
  padding: 20px;
  background: #ffb;
  box-shadow: $shadow;
  font-size: 150%;
  font-weight: bolder;
}

.todoList{
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

#createNew{
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.first{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.filter, #back {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Small screens */
@media all and (max-width: 700px) {
  .filter, .first{
    flex-flow: column wrap;
  }

  .filter a, .first a {
    margin: 5px 20px;
    padding: 3px;
  }
}

.postIt{
  background: #ffb;
  box-shadow: $shadow;
  display: block;
  padding: 50px;
  margin: 20px;
  font-size: 130%;
  height: 400px;
  width: 400px;
  position:relative;
}

.date{
  float:right;
  overflow:hidden;
}

.importance{
}
.edit{
  position: absolute;
  bottom: 50px;
}
.done{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/pictures/done.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.title{
  font-size: 150%;
}

.description, .title{
  word-wrap:break-word;
}

.material-icons{
  font-size: $iconSize !important;
  color: $colorText;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}


input {
  font-family: 'Indie Flower', cursive;
  font-size: 100%;
}
input[type=submit] {
  background: url("/pictures/save.png");
  background-size: cover;
  border: 0;
  display: block;
  height: 30px;
  width: 30px;
}

.submitButton{
  position: absolute;
  bottom: 50px;
  right:  50px;
}
#submitButton{
  border: none;
  background: none;
}


.button{
  text-align: center;
  font-size: 130%;
  font-weight: bolder;
  padding: 50px 50px;
  margin: 20px;
  text-decoration: none;
  color: black;
  background: url("/pictures/paper.jpg");
  background-size: cover;
  border: none;
  box-shadow: $shadow;
}

.noNote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}


