$color-ascent: LightSkyBlue;
$color-in-ascent: White;
$colorBackground: #999;
$colorText: dimgray;
$shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
$iconSize: 50px;

html, body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  color: $colorText;
  background-image: url("/pictures/cork.jpg");
  background-repeat: repeat;
}

.header{
  display: table;
  margin: 50px auto;
  padding: 20px;
  background: #ffb;
  box-shadow: $shadow;
}

.todoList{
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.first{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.filter{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Small screens */
@media all and (max-width: 700px) {
  .filter, .first{
    flex-flow: column wrap;
  }

  .filter a, .first a {
    margin: 5px 20px;
    padding: 3px;
  }
}

.postIt{
  background: #ffb;
  box-shadow: $shadow;
  display: block;
  padding: 50px;
  margin: 20px;
  font-size: 160%;
  height: 500px;
  width: 500px;
  position:relative;
}

.date{
  float:right;
  overflow:hidden;
}

.importance{
}
.edit{
  position: absolute;
  bottom: 50px;
}
.done{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/pictures/done.svg");
  background-size: 100%;
}
.title{
  font-size: 150%;
}

.description, .title{
  word-wrap:break-word;
}


.newPostIt{
  display: table;
  margin: 50px auto;

}

.material-icons{
  font-size: $iconSize !important;
  color: $colorText;
}

input[type=submit] {
  background: url("/pictures/save.png");
  background-size: cover;
  border: 0;
  display: block;
  height: 30px;
  width: 30px;
}



.title {
  font-weight: bolder;
}



.button{
  display: inline-block;
  text-align: center;
  font-size: 160%;
  font-weight: bolder;
  padding: 50px 50px;
  margin: 20px;
  text-decoration: none;
  color: black;
  background: url("/pictures/paper.jpg");
  background-size: cover;
  border: none;
  box-shadow: $shadow;
}



.empty{
  display: table;
  margin: 0 auto;
  text-align:center;
  a{
    text-decoration: none;
    color: $color-ascent;
  }
}

